<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin name="Cellfie Plugin" version="1.0.0">
   <extension id="cellfie" point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Create axioms from Excel workbook..." />
      <toolTip value="Generate OWL axioms from Excel spreadsheet" />
      <class value="org.mm.cellfie.CellfieAction" />
      <path value="org.protege.editor.owl.menu.tools/SlotF-Z"></path>
      <editorKitId value="OWLEditorKit" />
   </extension>
</plugin>